@import '../../scss/variables';

.navbar {
  a {
    text-decoration: none;
    color: $white;
  }

  span {
    margin-right: 1rem;
  }

  .btn-navbar {
    margin-right: 1rem;
  }

  .logo {
    width: 55px;
    margin-top: 7px;
  }
}

.spacer {
  flex: 1 1 auto;
}
