<mat-toolbar color="primary" class="navbar">
  <ng-container>
    <span><a class="link" routerLink="/">My Jira</a></span>
    <span *ngIf="project">&nbsp;({{ project.name }})</span>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="authorized; else btnAuth">
    <button mat-icon-button matTooltip="Create task" (click)="openDialog()">
      <mat-icon>create</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Profile" [matMenuTriggerFor]="menu" class="btn-menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>portrait</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #btnAuth>
    <button routerLinkActive="mat-accent" routerLink="/login" mat-raised-button color="primary" class="btn-navbar">
      Login
    </button>
    <button routerLinkActive="mat-accent" routerLink="/registration" mat-raised-button color="primary">
      Registration
    </button>
  </ng-template>
</mat-toolbar>
