<h2 mat-dialog-title>{{ isAdd ? "What's your new task?" : 'Edit Task' }}</h2>
<mat-dialog-content [formGroup]="form">
  <p>
    <mat-form-field class="w-100">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" formControlName="title" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="description" formControlName="description" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="w-100">
      <mat-label>Author</mat-label>
      <input matInput [(ngModel)]="author" formControlName="author" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="w-100">
      <mat-label>Executor</mat-label>
      <input matInput [(ngModel)]="executor" formControlName="executor" required />
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button (click)="onSubmit()" color="accent" [disabled]="form.invalid">
    {{ isAdd ? 'Add' : 'Edit' }}
  </button>
</mat-dialog-actions>
