<div>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Search task</mat-label>
    <input matInput type="text" [(ngModel)]="search" />
    <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="container">
    <h3>{{ titleIncomplete }}</h3>
    <div cdkDropList class="list" [cdkDropListData]="tasksIncomplete" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of tasksIncomplete | filter: search" class="box" cdkDrag>
        <app-task-item [task]="task"></app-task-item>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(task)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>{{ titleComplete }}</h3>
    <div cdkDropList class="list" [cdkDropListData]="tasksComplete" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of tasksComplete | filter: search" class="box" cdkDrag>
        <app-task-item [task]="task"></app-task-item>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>{{ titleVerify }}</h3>
    <div cdkDropList class="list" [cdkDropListData]="tasksVerify" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of tasksVerify | filter: search" class="box" cdkDrag>
        <app-task-item [task]="task"></app-task-item>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete(task)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
