<app-navbar></app-navbar>
<ng-container *ngIf="authorized">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ userEmail }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Account deleting</mat-card-title>
      <mat-card-subtitle>
        The deletion of your account is irreversible, all channels and advertising cards will also be deleted
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
      <button mat-raised-button color="accent" (click)="onClickDelete(user)">Delete account</button>
    </mat-card-content>
  </mat-card>
</ng-container>
