@import 'scss/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
  width: 100%;
}

.p-3 {
  padding: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  justify-content: center;
}

.snackbar-success {
  background-color: $green;
  color: $white;
}

.mat-card .mat-card-header .mat-card-header-text {
  margin: 0;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $light-color;
  color: $dark-grey;
}

.alert-danger {
  background: $danger-color;
  color: $white;
}
