<app-navbar></app-navbar>
<div class="home">
  <mat-card class="home-page" *ngIf="authorized">
    <mat-card-header>
      <mat-card-title>
        <h3>{{ title }}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="authorized">
      <mat-list *ngIf="projectList.length > 0; else emptyState" role="list">
        <mat-list-item *ngFor="let project of projectList" role="listitem">
          <button mat-button [matMenuTriggerFor]="menu">{{ project.name }}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(project)">
              <mat-icon>delete</mat-icon>
              <span>delete</span>
            </button>
            <button mat-menu-item (click)="onGo(project)">
              <mat-icon>directions_walk</mat-icon>
              <span>go</span>
            </button>
          </mat-menu>
        </mat-list-item>
      </mat-list>
      <ng-template #emptyState>
        <div class="empty-state">
          <img src="/assets/img/Checklist-rafiki.svg" alt="empty state" class="empty-state__image" />
          <h2 class="empty-state__title">No new project</h2>
          <div class="empty-state__description">
            <p>You don`t have new project.</p>
          </div>
        </div>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">Добавить новый проект</button>
    </mat-card-actions>
  </mat-card>
</div>
