.home {
  text-align: center;
  margin: 30px auto;
  width: 40%;

  .home-page {
    padding: 150px;
  }

  .btn {
    margin-right: 1rem;
  }
}

.mat-card-header {
  display: flex;
  justify-content: center;
}
