<app-navbar></app-navbar>
<div class="mat-card-wrap">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="authService.error$ | async as error" class="alert alert-danger">
          {{ error }}
        </div>

        <p>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput autocomplete="email" id="email" type="email" name="email" />
            <ng-container
              *ngIf="
                getFormControl('email').touched && getFormControl('email').invalid && getFormControl('email').errors
              "
            >
              <mat-error *ngIf="getFormControl('email').hasError('required')"> Required field. </mat-error>
              <mat-error *ngIf="getFormControl('email').hasError('email')"> Field email must be correct. </mat-error>
            </ng-container>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              autocomplete="current-password"
              id="password"
              [type]="hide ? 'password' : 'text'"
              name="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <ng-container
              *ngIf="
                getFormControl('password').touched &&
                getFormControl('password').invalid &&
                getFormControl('password').errors
              "
            >
              <mat-error *ngIf="getFormControl('password').hasError('required')" class="invalid-feedback" role="alert">
                The password field is required.
              </mat-error>
            </ng-container>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Confirm the password</mat-label>
            <input
              formControlName="confirmPassword"
              matInput
              autocomplete="current-password"
              id="confirm_password"
              [type]="hide ? 'password' : 'text'"
              name="confirm_password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <ng-container
              *ngIf="
                getFormControl('confirmPassword').touched &&
                getFormControl('confirmPassword').invalid &&
                getFormControl('confirmPassword').errors
              "
            >
              <mat-error
                *ngIf="getFormControl('confirmPassword').hasError('required')"
                class="invalid-feedback"
                role="alert"
              >
                The Confirm Password field is required.
              </mat-error>
              <mat-error
                *ngIf="getFormControl('confirmPassword').hasError('matching')"
                class="invalid-feedback"
                role="alert"
              >
                Confirm Password does not match
              </mat-error>
            </ng-container>
          </mat-form-field>
        </p>

        <div class="button">
          <button type="submit" mat-flat-button color="primary" style="width: 100%; height: 3em">Sign up</button>
        </div>
      </form>
    </mat-card-content>
    <div class="full-width__text">
      <small>
        Already have an account?
        <a class="link" routerLink="/login">Войти</a>
      </small>
    </div>
  </mat-card>
</div>
