<h2 mat-dialog-title>Confirm deleting</h2>
<mat-dialog-content class="mat-typography">
  <ng-container *ngIf="isProfile">
    <p>Do you really want to delete your profile?</p>
    <p class="bold">All information associated with this profile will be permanently deleted.</p>
  </ng-container>
  <ng-container *ngIf="!isProfile">
    <p>
      {{
        isTask
          ? 'Do you really want to delete your task ' + title + '?'
          : 'Do you really want to delete your project ' + name + '?'
      }}
    </p>
  </ng-container>
  <p class="red">This operation cannot be undone.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>
`
